@import "mocha.css";

/* Global */
* {
  font-family: "FiraCode Nerd Font";
  font-size: .9rem;
}

@keyframes blink_red {
  to {
    background-color: @red;
    color: @text;
  }
}

.warning, .critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#mode, #clock, #memory, #temperature, #cpu,
#mpd, #backlight, #pulseaudio, #network, 
#battery, #custom-media, #scratchpad, #disk {
  padding: 0 1rem 0 1rem;
  background-color: @surface0;
}

/* Gaps and rounded edges between modules */
/* Separate modules */
#clock, #idle_inhibitor {
  border-radius: 1.2rem;
}

/* Left group modules */
#cpu, #pulseaudio {
  border-radius: 1.2rem 0 0 1.2rem;
  margin-right: -.3rem;
}
/* Central group modules */
#memory, #network {
  margin: 0 -.3rem 0 -.3rem;
}
/* Right group modules */
#temperature, #battery {
  border-radius: 0 1.2rem 1.2rem 0;
  margin-left: -.3rem;
}

/* Bar */
/* Ignore Catppuccin GTK theme that's breaking the bar */
window {
  all: initial;
}

window#waybar {
  background-color: shade(@base, 0.9);
  border: 2px solid alpha(@crust, 0.3);
  transition-property: background-color;
  transition-duration: .5s;
}

/* window > box {
  margin: .3rem;
  margin-bottom: 0;
} */


/* Workspaces */
#workspaces {
  background-color: @surface0;
  border-radius: 1.2rem;
  margin-left: .6rem;
}

#workspaces button {
  color: @text;
  background-color: transparent;
  padding: .1rem .6rem .1rem .6rem;
  border-radius: 1.2rem;
}

#workspaces button.active {
  background-color: @green;
  color: @base;
}

/* Tooltip */
tooltip {
  background-color: @base;
}

tooltip label {
  color: @rosewater;
}

/* battery */
#battery {
  color: @mauve;
  margin-right: .6rem;
  padding-right: 1.4rem;
}
#battery.full {
  color: @green;
}
#battery.charging{
  color: @yellow;
}
#battery.discharging {
  color: @peach;
}
#battery.critical:not(.charging) {
  color: @red;
}

/* mpd */
#mpd.paused {
  font-style: italic;
}
#mpd.stopped {
  color: @subtext0;
}
#mpd {
  color: @pink;
}

/* Extra */
#memory {
  color: @green;
}
#cpu {
  color: @sapphire;
}
#clock {
  color: @lavender;
}
#idle_inhibitor {
  background-color: @surface0;
  color: @text;
  margin-right: .6rem;
  padding: 0 1.1rem 0 .7rem;
}
#idle_inhibitor.activated {
  background-color: @text;
  color: @base;
}
#temperature {
  color: @yellow;
  margin-right: .6rem;
}
#pulseaudio {
  color: @maroon;
}
#network {
  color: @blue;
}
#network.disconnected {
  color: @subtext0;
}
#tray {
  margin-right: .6rem;
  padding: 0 .6rem 0 .6rem;
}
#disk {
  color: @peach;
}
#custom-media {
  color: @text;
}
#custom-media.custom-spotify {
  color: @green;
}
